body {
    background-color:#ffd1bd;
    margin: 0px;
}

h1 {
    width: 100%;
    background-color: #fff2e5;
    margin: 30px auto;
    font-family: 'Kaushan Script', cursive; 
    font-size: 50px;
    border: 1px solid black;
    color:#d63447;
}

h2 {
    color:#d63447;
    font-family: 'Kaushan Script', cursive;
    font-size: 80px;
    padding-bottom: 30px;
} 

h3 {
    margin-bottom: 50px;
    width: 500px;
    height: 40px;
    position: relative;
    left: 100px;
    top: 20px;
    font-family: 'Kalam', cursive;
    font-size: 30px;
    
} 

ul {
    display: inline;
    margin: 0px;
    padding: 0px;
    position: relative;
}

li {
    font-family: 'Kalam', cursive;
    text-align: left;
    display: inline-block;
}

h4 {
    color: #d63447;

}

footer {
    background-color: #fe8761;
    text-align: center;
    height: 65px;
    padding-top: 20px;
    width: 100%;
}
footer img {
    width: 30px;
    display: inline;
}
footer p {
    display: inline;
    position: relative;
    bottom: 10px;
}

.center {
    text-align: center;
}

.image200 {
    width: 700px;
    height: 400px;
}
   
.image250 {
    float: left;
}

.image300 {
    width: 300px;
    clear: both;
}
.intro {
    background-color: whitesmoke;
    width: 800px;
    margin: auto;
    padding: 20px;
}
.intro p {
    color: #d63447;
    font-size: 20px;
    line-height: 2;
    font-family: 'Kaushan Script', cursive;
}

.intro p strong {
    color: black;

}
.register {
    background-color: whitesmoke;
    height: 350px;
    width: 100%;
    margin-top: 0px;
    display:inline-block;
}

.li1 {
    width: 600px;
    height: 50px;
    position: relative;
    left: 120px;
}

.li2 {
    width: 600px;
    height: 50px;
    position: relative;
    left: 150px;
}

.li3 {
    width: 600px;
    height: 50px;
    position: relative;
    left: 180px;
}


/* CSS for form.html */
form {
    margin-bottom: 20px;
}
#btn {
    cursor: wait;
}